<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logic Seminar Verona &ndash; $title$</title>
        <style>
            $partial("templates/default.css")$
        </style>
        <link rel="alternate" type="application/rss+xml" title="Logic Seminar Verona" href="/feed.rss">
    </head>

    <body>
        <header>
            <div class="logo-wrapper">
                <div class="logo">
                    <a href="/">Logic Seminar Verona</a>
                    <hr>
                    <span class="subtitle">Università degli studi di Verona // Dipartimento di Informatica</span>
                </div>
            </div>
            <nav>
                <a $if(on-home)$ class="highlight" $endif$ href="/">Home</a>
                <a $if(on-archive)$ class="highlight" $endif$ href="/archive/">Archive</a>
                <a $if(on-location)$ class="highlight" $endif$ href="/location/">Venue</a>
                <a $if(on-organization)$ class="highlight" $endif$ href="/organization/">Organisation</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            <a href="https://www.di.univr.it/?ent=grupporic&amp;id=231&amp;lang=en">Logic at UNIVR</a>
            &nbsp;&bull;&nbsp;
            <a href="/feed.rss">RSS feed</a>
        </footer>
    </body>
</html>
