<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logic Seminar Verona &ndash; $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo-wrapper">
                <div class="logo">
                    <a href="/">Logic Seminar Verona</a>
                    <hr>
                    <span class="subtitle">Università degli studi di Verona // Dipartimento di Informatica</span>
                </div>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Footer.
        </footer>
    </body>
</html>
